@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* { box-sizing: border-box; }

.card-box{
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 10px;
    border-radius: 15px;  
    background-color: #fbf2ea;
    box-shadow: 8px 5px 10px #cd9a6e;
}


.card-box h3{
    text-decoration: none;
    color: #5c3d22;
    cursor: pointer;
}

.card-box img{
    max-height: 200px;
    max-width: 200px;
}