@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');

body{
    background-color: #fefaef;
}

.landing-page{
    display:inline-flexbox;
    position: relative;
}

.landing-page h1{
    color: white;
    text-shadow: 2px 2px 5px brown;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-page button{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-page img{
    size: 100%;
    top: 5%;
    left: 50%;
    
}
